.btn {
	background-image: none;
	border: 1px solid silver;
	border-color: silver;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
}

.form-horizontal .form-group .control-label {
    text-align: left;
}

label {
	font-weight: normal;
}
legend {
	font-size: 18px;
}

i {
	color: black;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../font/glyphicons-halflings-regular.eot');
  src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}