/* main */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-horizontal .control-group {
	margin-bottom: 10px;
}

.form-horizontal .control-group .control-label {
	text-align: left;
}

#sidebar_content {
	padding-top: 10px;
	width:300px;
	height: 100%;
}

.watermark {
	left: -95px;
	opacity: 0.2;
	position: fixed;
	bottom: -78px;
}

#app {
	height:100%;
}

#app .app_content{
	padding: 20px;
}

.navbar-inner {
	border-radius: 0px;
	border:none;
	height: 40px;
	box-shadow: none;
}

.navbar-app {
	background-color: #EEEEEE;
	background-image: none;
}

.navbar .brand,
.navbar .nav > li > a {
	text-shadow: none;
}

.nav-tabs > .active > a {
	color: black;
}

.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a {
	border-radius: 0px;
	border:none;
}

.nav-tabs.nav-stacked > li > a {
	border-right: none;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.topnavbar {
	border-bottom: 1px solid silver;
}

.leftbar {
	width: 300px;
	border-right: 1px solid silver;
}

/* content */

.app_left {
	margin-top: 41px;
	background-color: #ECECFB;
	border-right: 1px solid silver;
	position: fixed;
	width: 300px;
	height: 100%;
}

.app_right {
	margin-left: 300px;
	padding: 20px;
	padding-top: 60px;
}

.app_right_full {
	margin-left: 0px;
}

/* sidebar toggle */

.toggleSidebar {
	font-size: 20px;
	cursor: pointer;
	position: fixed;
	top: 51px;
	left:0px;
	z-index: 20;
}

.slideLeft {
	left:288px;
}

.slideRight {
	background-color: #ECECFB;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}

.content_savebox {
	margin-left: -21px;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	bottom: 0px;
	width:100%;
	position: fixed;
	padding: 5px 15px 5px 15px;
	background-color: #EEEEEE;
}