.teams .user-image {
    position: relative;
    display: inline-block;
    text-align: center;
}
.teams .user-image .image:after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;

    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.teams .user-image:hover .image:after,
.teams .user-image:hover .contact {
    opacity: 1;
}

.teams .user-image .contact {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    opacity: 0;

    text-align: center;

    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.teams .user-image .contact a {
    color: #fff;
    padding: 3px;
    border: 1px solid #22b14c;
    font-size: 20px;

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.teams .user-image .contact a:hover,
.teams .user-image .contact a:focus {
    text-decoration: none;
    color: #22b14c;
    border-color: #fff;
}
.teams .user-image .image .thumbnail {
    width: 210px !important;
    margin-bottom: 0 !important;
}
.teams .user-name {
    font-size: 20px;
    margin-top: 10px;
}
.teams .user-place {
    font-size: 14px;
    color: #939393;
}
.teams .user-signature {
    font-size: 14px;
    margin-top: 10px;
}
