body {
    background: url('img/background.png')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table {
    border: 1px solid #CCC;
}

img {
    height: auto !important;
    max-width: 100% !important;
}

a {
    color: #428BCA;
    text-decoration: none;
}

label {
    font-weight: normal;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
}

@media (min-width: 991px) {
    nav {
        margin-top: 30px;
    }
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 990px) {
    .carousel-caption {
        display: none;
    }
}

.navbar-gaming {
    background: #40434E; 
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #32333B;
}

.navbar-gaming .navbar-nav > li > a:hover, .navbar-gaming .navbar-nav > li > a:focus {
    background-color: #32333B;
    color: #32333B;
}

.navbar-gaming .dropdown-menu > li > a:hover,
.navbar-gaming .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #32333B;
    background-color: #32333B;
}

header nav ul > li > a {
    display: block;
    font-family: "Arial";
    font-weight: bold;
    padding: 0 20px;
    height: 100%;
    color: #eeeeee !important;
    *zoom: 1;
}

header nav ul > li > ul > li > a {
    color: #eee !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #40434E;
}

.navbar-toggle .icon-bar {
    background-color: #eeeeee;
}

#main {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    background-color: #F1F1F1;
    padding-top: 30px;
    margin-top: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: #32333B;
}

.panel-gaming > .panel-heading {
    color: #4295C9;
    background-color: #32333B;
    margin-top: 0px;
    line-height: 20px;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.panel-gaming > .panel-body li {
    line-height: 35px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
}

.panel-gaming > .panel-body a {
    color: #4295C9;
    text-decoration: none;
}
