/application/config.php
/cache/
/nbproject/
/updates/
/vendor/

/static/js/choices/node_modules/

/static/js/ckeditor5/build/ckeditor.d.ts
/static/js/ckeditor5/build/plugins/
/static/js/ckeditor5/node_modules/

/tests/config.php
tests/.phpunit.result.cache
tests/cache/

/.vagrant
/Vagrantfile

.htaccess
.idea
.user.ini
robots.txt
web.config
