.htaccess
application/config.php

/nbproject/
.idea
/.vagrant
/Vagrantfile
/tests/config.php
web.config
robots.txt
.user.ini

/cache/
/vendor/
tests/.phpunit.result.cache
application/modules/media/static/upload/thumb_64f43113179c7DSLR-A390 (376).jpg
*.jpg
