/application/config.php
/cache/
/nbproject/
/updates/
/vendor/

/static/js/choices/node_modules/
/static/js/tarteaucitron/node_modules/

/static/js/ckeditor5/*
!/static/js/ckeditor5/ckeditor5.css
!/static/js/ckeditor5/ckeditor5.js
!/static/js/ckeditor5/emoji-definitions.json
!/static/js/ckeditor5/LICENSE.md
!/static/js/ckeditor5/styles.css
!/static/js/ckeditor5/translations/*.umd.js
!/static/js/ckeditor5/ckeditor5-ilchps/
!/static/js/ckeditor5/ckeditor5-ilchmedia/

/static/js/ckeditor5/ckeditor5-ilchps/*
!/static/js/ckeditor5/ckeditor5-ilchps/dist/browser/index.es.js
!/static/js/ckeditor5/ckeditor5-ilchps/src/

/static/js/ckeditor5/ckeditor5-ilchmedia/*
!/static/js/ckeditor5/ckeditor5-ilchmedia/dist/browser/index.es.js
!/static/js/ckeditor5/ckeditor5-ilchmedia/src/

/tests/config.php
tests/.phpunit.result.cache
tests/cache/

/.vagrant
/Vagrantfile

.htaccess
.idea
.user.ini
robots.txt
web.config
