html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    direction: ltr;
    /*! overflow-x: hidden; */
}
h1, h2 {
    font-size: 21px;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
body.modal-open {
    overflow: hidden !important;
}
.nounderline, .nounderline:hover{ sgh
    text-decoration: none
}
header .rightbar .opens {
    width: 330px;
}
header .rightbar li > #search-header {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 10px 10px 10px 17px;
    line-height: 20px;
    font-size: 14px;
}
header .rightbar li > #search-header:hover {
    color: #000;
    background: #e7e7e7;
}
header .rightbar li > #search-header .search-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    margin-left: 9px;
}
#search-div{
    position: relative;
    top: 0;
    width: 100%;
}
header .rightbar .opens {
    right: 0;
    top: 40px;
    padding: 4px;
    position: absolute;
    background: #e7e7e7;
    border: solid 1px #ccc;
    box-shadow: 0 1px 3px #ddd;
    display: inherit !important
}
header .rightbar .search-close {
    display: none;
}
header .rightbar .search-opens form {
    margin: 0;
}
header .rightbar > li > #search-header:hover {
    color: #fff !important;
    background: #5fb611;
}
header .rightbar .search-opens .input-group {
    height: 30px;
}
header .rightbar .search-opens .form-control {
    height: 30px;
}
header .rightbar .search-close .form-control:focus {
    border-color: #66AFE9;
    outline: 0 none;
    box-shadow: none;
}
header .rightbar .search-opens .btn {
    padding: 4px;
}
header {
    padding: 0 !important;
}
a {
    color: black !important;
}
.chosen-container {
    width: 100% !important;
}
#hide-menu {
    padding-left: 10px;
}
#content .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#content .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
#content .ilch-margin-b {
    margin-bottom:10px;
}
.leftbar {
    margin-right: 80px;
}
.home {
    padding: 5px;
    border: 1px solid #ccc !important;
    border-radius: 0;
    margin: 4px;
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
}
.leftbar > div > a.active {
    background-color: #E7E7E7;
}
.rightbar {
    border-color: #ccc !important;
    padding-left: 0;
    padding-right: 0;
}
aside > nav > ul > li.heading {
    display: block;
    font-size: 16px;
    color: #FFF;
    border-bottom: 1px solid #525151;
    background: #8A8A8A;
    background: -moz-linear-gradient(left, #8A8A8A 93%, #4A4847 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(93%, #8A8A8A), color-stop(100%, #4A4847));
    background: -webkit-linear-gradient(left, #8A8A8A 93%, #4A4847 100%);
    background: -o-linear-gradient(left, #8A8A8A 93%, #4A4847 100%);
    background: -ms-linear-gradient(left, #8A8A8A 93%, #4A4847 100%);
    background: linear-gradient(to right, #8A8A8A 93%, #4A4847 100%);
}
aside > nav > ul > li {
    border-bottom: 1px solid #525151;
    background: #8A8A8A;
    background: -moz-linear-gradient(left, #C9C9C9 93%, #4A4847 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(93%, #C9C9C9), color-stop(100%, #4A4847));
    background: -webkit-linear-gradient(left, #C9C9C9 93%, #4A4847 100%);
    background: -o-linear-gradient(left, #C9C9C9 93%, #4A4847 100%);
    background: -ms-linear-gradient(left, #C9C9C9 93%, #4A4847 100%);
    background: linear-gradient(to right, #C9C9C9 93%, #4A4847 100%);
}
aside > nav > ul > li > ul > li {
    border-top: 1px solid #525151;
    border-left: 4px solid #525151;
    background: #8A8A8A;
    background: -moz-linear-gradient(left, #8A8A8A 93%, #4A4847 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(93%, #8A8A8A), color-stop(100%, #4A4847));
    background: -webkit-linear-gradient(left, #8A8A8A 93%, #4A4847 100%);
    background: -o-linear-gradient(left, #8A8A8A 93%, #4A4847 100%);
    background: -ms-linear-gradient(left, #8A8A8A 93%, #4A4847 100%);
    background: linear-gradient(to right, #8A8A8A 93%, #4A4847 100%);
}
aside > nav > ul > li > ul > li:last-child {
    border-bottom: 1px solid #525151;
}
aside > nav > ul > li.active > a:before, aside > nav > ul > li > ul > li.active > a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d9";
    right: -8px;
    margin-top: -13px;
    margin-right: -3px;
    font-size: 42px;
}
aside > nav > ul > li a,
aside > nav > ul > li a:focus,
aside > nav > ul > li.active a,
aside > nav > ul > li.active a:hover,
aside > nav > ul > li > ul > li > a:hover {
    color: #000;
}
aside > nav > ul > li a:hover,
aside > nav > ul > li > ul > li > a,
aside > nav > ul > li > ul > li > a:focus,
aside > nav > ul > li.active > ul > li > a,
aside > nav > ul > li > ul > li.active > a,
aside > nav > ul > li > ul > li.active > a:hover {
    color: #fff;
}
aside nav ul .active > a {
    overflow: hidden;
}

.topnavbar {
    margin-bottom: 0 !important;
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #F3F3F3, #E2E2E2);
    background-repeat: repeat-x;
    border: none !important;
    padding:0;
    z-index: 1000;
}
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-fixed-top .navbar-collapse {
    max-height: calc(100vh - 40px);
}
.navbar {
    border-radius: 0 !important;
    min-height: 30px !important;
    border-bottom: 1px solid silver !important;
}
#rightbar ul li.active > a:before {
    color: #000;
}
.logo {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    background-color: #E7E7E7;
}
.table {
    border: 1px solid #ccc;
}

.withEmptyCells {
    border-collapse: separate;
}

.watermark {
    opacity: 0.2;
    position: fixed;
    bottom: -9px;
    width: 220px;
    height: 116px;
    z-index: -1;
    background-image: url("../../../../../static/img/ilch_logo.png");
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0px, 0) translateZ(0px);
}
.navbar-nav > li > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.navbar-nav .nav-link {
    padding:10px 10px 10px 15px;
    color: #555;
}
.leftbar > div > button {
    padding:  5px 7px 5px 7px;
    border: 1px solid #ccc !important;
    border-radius: 0;
    margin: 4px;
}
.navbar  .leftbar .navbar-toggle {
    margin-right: 14px;
}
#toggleLeftMenu i {
    padding: 8px 8px 7px 8px;
    border: 1px solid #ccc !important;
    border-radius: 0;
    margin: 4px;
}
ul > .heading {
    color: white;
    line-height: normal;
    font-size: 20px;
    padding: 10px 10px 10px 13px;
    display: block;
    font-weight: 400;
    text-decoration: none !important;
    position: relative;
}
.content_full {
    margin-left: 0 !important;
}
.content_savebox {
    margin-left: -15px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    z-index: 4;
    bottom: 0;
    width:100%;
    position: fixed;
    padding: 5px 30px 5px 30px;
    background-color: #EEEEEE;
}
.content_savebox:before {
    padding-top: 15px;
}

.content_savebox > .save_button {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    font-weight: bold;
    color: #FFF;
}

.content_savebox > .save_button:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}

.content_savebox > .save_button:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}

.content_savebox > .delete_button {
    background-color: #E48681;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    font-weight: bold;
    color: #FFF;
}

.content_savebox > .delete_button:hover {
    background-color: #DA4F49;
    border-color: rgba(0,0,0,0.5);
}

.content_savebox > .delete_button:active {
    background-color: #B32C24;
    border-color: rgba(0,0,0,0.9);
}
.hidden-menu .content_savebox {
    margin-left: -15px;
}
.btn {
    background-image: none;
    border: 1px solid silver;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-horizontal .form-group .control-label {
    text-align: left;
}
label {
    font-weight: normal;
}
header i {
    color: black;
}
hr {
    margin: 10px 0;
}
.clickable {
    cursor: pointer;
    margin-top: -20px !important;
}
.cke_button__ilchmedia_label, .cke_button__ilchps_label {
    display: inline !important;
}
#mediaModal {
    z-index: 100000 !important;
    visibility: visible;
    overflow: hidden;
}
#mediaModal .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto !important;
}
#mediaModal .modal-content {
    height: 96%;
    border-radius: 0;
    margin: 1%;
    overflow: hidden;
}
#mediaModal .modal-body {
    height: 100%;
    border-radius: 0;
    padding: 0 0 57px !important;
}
#mediaModal .modal-footer {
    display: none;
}
iframe {
    width: 100%;
    min-height: 100%;
}
#content {
    padding: 10px 15px;
    position: absolute;
    width: 100%;
}
body.container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    box-shadow: 0 2px 70px rgba(0, 0, 0, .45);
}
aside {
    display: block;
    overflow: hidden;
    background: #8A8A8A;
    background: -moz-linear-gradient(left, #8A8A8A 93%, #6A6867 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(93%, #8A8A8A), color-stop(100%, #6A6867));
    background: -webkit-linear-gradient(left, #8A8A8A 93%, #6A6867 100%);
    background: -o-linear-gradient(left, #8A8A8A 93%, #6A6867 100%);
    background: -ms-linear-gradient(left, #8A8A8A 93%, #6A6867 100%);
    background: linear-gradient(to right, #8A8A8A 93%, #6A6867 100%);
    min-height: 100%
}
#header {
    display: block;
    height: 40px;
    margin: 0;
    padding: 0 13px 0 0;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
    background-repeat: repeat-x;
    position: relative;

}
#header > div {
    display: inline-block;
    vertical-align: middle;
    height: 49px;
    float: left;
}
#header > div.open {
    font-weight: 700;
}
.logo {
    height: 40px;
    margin-left: 10px;
}
aside {
    width: 220px;
    overflow-y: visible !important;
}
#left-panel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 904;
    padding-top: 40px;
}
#left-panel > nav {
    width: 220px;
    overflow-y: visible;
    overflow-x: hidden;
    bottom: 0;
    top: 40px;
}
.dropdown-menu .divider {
    background-color: #ccc;
}
#main {
    margin-left: 220px;
    padding-bottom: 80px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}
#main .modal-header {

}
#main .modal-header .btn-close {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 0px;
}
.savebox_bottom {
    bottom: 45px !important;
}
#ribbon {
    min-height: 39px;
    background: #8A8A8A;
    padding: 0 13px;
    position: relative;
    border-style: solid;
    border-color: transparent transparent #525151;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.07) inset;
    width: 100%;
    margin: 0 !important;
    box-sizing: border-box;
}
.ribbon-fixed {
    top: 79px !important;
}
.ribbon-fixed > #ribbon {
    position: fixed !important;
    top: 40px;
    z-index: 900;
}
#ribbon .breadcrumb {

    margin: 0;
    margin-top: 3px;
    padding: 7px 0 !important;
    background: 0 0;
}
#ribbon .breadcrumb, #ribbon .breadcrumb a {
    color: #ccc !important;
    text-decoration: none !Important;
}
#ribbon .breadcrumb li:last-child, #ribbon .breadcrumb>.active {
    color: #E4E4E4;
}
nav ul {
    padding: 0;
    margin: 0 !important;
    font-size: 13px;
    line-height: .5em;
    list-style: none;
}
nav ul .active > a {
    color: #000;
    position: relative;
}
nav ul li.active > a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d9";
    display: block;
    height: 27px;
    line-height: normal;
    position: absolute;
    right: -4px;
    font-size: 20px;
    color: #fff;
}
nav ul li.active.open > a:before {
    content: ""
}
nav ul li a {
    line-height: normal;
    font-size: 14px;
    padding: 10px 10px 10px 15px;
    color:#555;
    display: block;
    font-weight: 400;
    text-decoration: none !important;
    position: relative;
}
nav ul li a:focus {
    color: #c9c9c9;
}
nav ul li a:hover {
    color: #000 !important;
    text-decoration: none;
}
nav ul span.menu-item-parent {
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav > ul > li > a > i {
    margin-right: 5px;
    width: 15px;
    display: inline-block;
    text-align: center;
    position: relative;
}
nav > ul > li > a > i > em {
    font-size: 9px;
    display: block;
    padding: 2px;
    position: absolute;
    top: -8px;
    right: -6px;
    text-decoration: none;
    font-style: normal;
    background: #ED1C24;
    color: #fff;
    min-width: 13px;
    border-radius: 50%;
    max-height: 13px;
    line-height: 8px;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1);
}
nav ul li li {
    border-bottom: none;
    position: relative;
}
nav > ul > li > ul::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 23px;
    top: 0;
    bottom: 0;
}
nav > ul > li:hover > ul::before, nav > ul > li:hover > ul > li::before {
    border-color: #ACACAC !important;
}
.nav-tabs > li>.active {
    background-color: #e3e3e3 !important;
    cursor: pointer;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}
.nav-tabs > li.active > a:hover {
    background-color: #ebebeb;
    cursor: pointer;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}
.header-dropdown-list {
    list-style: none;
    float: right;
    position: relative;
    margin: 0;
}
.header-dropdown-list > li {
    display: inline-block;
    padding-right: 5px;
}
.header-dropdown-list > li > .dropdown-toggle {
    margin-top: 16px;
    display: block;
}
.btn {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.btn:active {
    position: relative;
    top: 1px;
    left: 1px;
}

@media (min-width:991px) {
    #left-panel, #main {
        transition: 500ms cubic-bezier(0, 0, 1, 1);
        -webkit-transition: 500ms cubic-bezier(0, 0, 1, 1);
    }
}
#left-panel.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    width: 220px;
    display: block;
}

.hidden-menu #left-panel {
    left: -210px;
    z-index: 903;
}
.hidden-menu #main {
    margin-left: 10px;
}
.hidden-menu #left-panel:hover {
    left: 0;
}
.hidden-menu  #left-panel:hover ~ #main  {
    margin-left: 220px;
}
.table_text{
    width: 600px;
    white-space: normal !important;
    display: block;
    background-color: transparent;
}
#ilch_dropdown {
    position: static !important;
}
#ilch_dropdown .full {
    left: auto;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
#ilch_dropdown .full a {
    color: #777;
    width: 25%;
}
#ilch_dropdown .full a:hover, #ilch_dropdown .full a:hover:focus {
    color: #000;
}
#ilch_dropdown .list-group-horizontal .list-group-item {
    display: inline-flex;
    background: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: none;
}
#ilch_dropdown .list-group-item:hover, .list-group-item {
    color: #000;
}
#ilch_dropdown .list-group {
    margin-bottom: 0 !important;
}
.dropdown #menu {
    min-width: 210px
}
.ilch--flex-wrap .list-group-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
}
.flipswitch {
    position: relative;
    height: 34px;
    width: 120px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.flipswitch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 36px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    cursor: pointer;
}

.flipswitch-label:active {
    font-weight: bold;
}

.flipswitch-label-on {
    padding-left: 2px;
}

.flipswitch-label-off {
    padding-left: 3px;
}

.flipswitch-input {
    display: none;
}

.flipswitch-input:checked + .flipswitch-label {
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.flipswitch-input:checked + .flipswitch-label-off ~ .flipswitch-selection {
    left: 60px;
}

.flipswitch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 30px;
    background-color: rgb(153, 153, 153);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

#update .list-files{
    height: 200px;
    overflow-x: scroll;
    border: 1px solid #CCC !important;
    border-radius: 0px;
    padding: 5px;
    background-color: beige;
}

.key-shortcut {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    display: inline-block;
    padding: 3px 4px 3px 4px;
    line-height: 14px;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    box-shadow: inset 0 -1px 0 #bbb;
    min-width: 24px;
    text-align: center;
}

.changeBox {
    margin-top: 30px;
}

table tbody i.fa.fa-sort {
    cursor: move;
}
.ui-sortable-helper {
    width: auto !important;
    border: 1px solid #ddd;
    background: transparent;
}

@media (min-width: 768px) {
    #ilch_dropdown .full {
        width: 70%;
    }
    .changeBox {
        margin-top: 0;
    }
    header .rightbar .navbar-nav > li {
        border-left: 1px solid silver;
    }
    header .rightbar .navbar-nav > li:last-of-type {
        border-right: 1px solid silver;
    }
    header .rightbar li > #search-header {
        padding: 10px;
    }
    #search-div{
        position: absolute;
        top: 40px;
        right: -1px;
        width: 330px;
    }
    .logout {
        text-align: center;
    }
    .navbar-fixed-top .navbar-collapse {
        max-height: 240px;
    }

}
@media (min-width: 992px) {
    #ilch_dropdown .full {
        width: 55%;
    }
}
@media (min-width: 1200px) {
    #ilch_dropdown .full {
        width: 45%;
    }
}
@media (min-width: 1600px) {
    #ilch_dropdown .full {
        width: 35%;
    }
}

@media (min-height: 768px) {
    #ilch_dropdown .full {
        max-height: 708px;
    }
}
@media (min-height: 900px) {
    #ilch_dropdown .full {
        max-height: 840px;
    }
}
@media (min-height: 1080px) {
    #ilch_dropdown .full {
        max-height: 1020px;
    }
}
@media (min-height: 1200px) {
    #ilch_dropdown .full {
        max-height: 1140px;
    }
}

@media (max-width:991px) {
    #main {
        width: auto;
    }
    .hidden-menu  #left-panel:hover ~ #main  {
        margin-left: 10px;
    }
    body.container {
        border: none !important;
        width: 100% !important;
    }
    .navbar-nav > li.active{
        overflow: hidden;
    }
    .leftbar {
        margin-right: 0;
        width:100%;
    }
}
@media (min-width:768px) and (max-width:991px) {
    #main {
        margin-left: 0;
    }
    .hidden-menu  #left-panel:hover ~ #main  {
        margin-left: 10px;
    }
    #left-panel {
        left: -220px;
    }
    #hide-menu > :first-child > a {
        margin-top: 9px;
        width: 40px;
    }
    .btn-header a {
        margin-top: 9px !important;
        width: 40px !important;
    }
    .hidden-menu #left-panel {
        left: 0;
    }
    .hidden-menu #main {
        left: 210px;
    }
}
@media (min-width:768px) and (max-width:880px) {
    #main {
        margin-left: 0;
        overflow-x: hidden;
    }
    .hidden-menu  #left-panel:hover ~ #main  {
        margin-left: 10px;
    }
    #left-panel {
        left: -220px;
    }
    #hide-menu > :first-child > a, .btn-header a {
        margin-top: 5px !important;
        width: 40px !important;
        height: 39px !important;
        line-height: 38px !important;
    }
    #logo {
        margin-top: 10px;
    }
    #logo img {
        width: 127px;
    }
    .btn-header.transparent a {
        border: none !important;
        background: 0 0;
        margin-left: 0;
        width: 25px !important;
        box-shadow: none !important;
    }
    .btn-header.transparent a:hover {
        color: #a90329;
    }
    .hidden-menu #left-panel {
        left: 0;
    }
    .hidden-menu #main {
        left: 210px;
    }
}
@media (max-width:767px) {
    #left-panel > nav {
        position: fixed;
        overflow-y: auto;
    }
    #main {
        margin-left: 0;
        overflow-x: hidden;
    }
    .hidden-menu  #left-panel:hover ~ #main  {
        margin-left: 10px;
    }
    #left-panel {
        left: -220px;
    }
    #content {
        padding: 10px 15px;
    }
    #header {
        padding-right: 5px;
    }
    #logo {
        margin-left: 4px;
        margin-top: 10px;
    }
    .btn-header.transparent a {
        border: none !important;
        background: 0 0;
        margin-left: 0;
        width: 25px !important;
        box-shadow: none !important;
    }
    .btn-header.transparent a:hover {
        color: #a90329;
    }
    #logo img {
        width: 127px;
    }

    .hidden-menu #left-panel {
        left: 0;
    }
    .hidden-menu #main {
        left: 210px;
    }
}
@media only screen and (min-width:0) and (max-width:679px) {
    #left-panel > nav {
        position: fixed;
        overflow-y: auto;
    }
    #main {
        margin-left: 0;
        overflow-x: hidden;
    }
    .hidden-menu  #left-panel:hover ~ #main  {
        margin-left: 10px;
    }
    #left-panel {
        left: -220px;
    }
    #content {
        padding: 10px 15px;
    }
    #header {
        padding-right: 5px;
        background: #fff;
    }
    #logo {
        margin-left: 4px;
        margin-top: 10px;
    }
    #logo img {
        width: 127px;
    }
    .btn-header.transparent a {
        border: none !important;
        background: 0 0;
        margin-left: 0;
        width: 25px !important;
        box-shadow: none !important;
    }
    .btn-header.transparent a:hover {
        color: #a90329;
    }
    .hidden-menu #left-panel {
        left: 0;
    }
    .hidden-menu #main {
        left: 210px;
    }
}
@media only screen and (min-width:320px) and (max-width:479px) {

    #left-panel > nav {
        position: fixed;
        overflow-y: auto;
    }
    #main {
        margin-left: 0;
        overflow-x: hidden;
    }
    .hidden-menu  #left-panel:hover ~ #main  {
        margin-left: 10px;
    }
    #left-panel {
        left: -220px;
    }
    #content {
        padding: 10px 15px;
    }
    #header {
        padding-right: 5px;
        background: #fff;
    }
    #logo {
        margin-left: 4px;
        margin-top: 10px;
        width: 135px;
    }
    #hide-menu > :first-child > a, .btn-header a {
        margin-top: 5px !important;
        width: 40px !important;
        height: 39px !important;
        line-height: 38px !important;
    }
    #logo img {
        width: 127px;
    }
    .btn-header.transparent a {
        border: none !important;
        background: 0 0;
        margin-left: 0;
        width: 25px !important;
        box-shadow: none !important;
    }
    .btn-header.transparent a:hover {
        color: #a90329;
    }
    #hide-menu > :first-child > a {
        width: 46px !important;
    }

    .hidden-menu #left-panel {
        left: 0;
    }
    .hidden-menu #main {
        left: 210px;
        overflow-x: hidden;
    }
    #ilch_dropdown .list-group-horizontal .list-group-item {
        width: 100%;
        color: #000;
    }
    #ilch_dropdown .list-group-horizontal .list-group-item a {
        width: 100%;
        color: #000;
        padding: 7px 7px !important;
    }
}


/* Maintenance */
.range {
    display: table;
    position: relative;
    height: 34px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 34px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 15px;
    height: 34px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 15px;
    height: 34px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}


/* tokenfield */
.tokenfield.form-control {
    padding: 2px 2px;
    padding-bottom: 0;
}
.tokenfield .token {
    background-color: #fff;
    height: 28px;
    border-radius: 4px;
    margin: 0 6px 2px 0;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}
.tokenfield .token:hover {
    border-color: #ccc;
}
.tokenfield .token .token-label{
    padding: 3px 0 0 5px;
}
.tokenfield .token .close {
    padding: 0 7px 0 1px;
    font-size: 19px;
    color: #888;
    opacity: 1;
    text-shadow: none;
}
.tokenfield .token .close:hover {
    color: #464646;
}
.tokenfield .token-input {
    margin: 0;
    height: auto;
    padding: 4px 6px;
}


/* Module and Layout search carousel */
#module #module-search-carousel,
#layout #layout-search-carousel {
    margin: -10px -15px 15px -15px;
}
#module #module-search-carousel .carousel-inner .item img,
#layout #layout-search-carousel .carousel-inner .item img {
    max-height: 320px;
    margin: auto;
}
#module #module-search-carousel .carousel-inner .item .carousel-caption,
#layout #layout-search-carousel .carousel-inner .item .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 15px 5px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}
