.panel-ilch {
    border-color: #C9C9C9;
}
.panel-ilch > .panel-heading {
    color: #000;
    border-color: #C9C9C9;
    background-color: #C9C9C9;
}

#layouts .panel-heading a:hover {
    color: #fff;
    text-decoration: none;
}

#layouts .panel-body img {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#layouts .panel-body span {
    cursor: pointer;
}

#layouts .divider {
    height: 1px;
    margin: 11px -15px;
    background-color: #ccc;
}

#layouts .unchecked i {
    width: 14px;
}
#layouts .unchecked:hover i:before {
    content: "\f00c";
}

#modules form {
    display: initial;
}

/* Show */
#module .rating-container,
#layout .rating-container {
    font-size: 15px;
}
#layout .thumbnail {
    text-align: center;
}
#module .rating-container .rating,
#layout .rating-container .rating,
#layout .thumbnail span {
    cursor: help;
    text-align: center;
}
