body {
    background-color: #EEE;
    padding-top: 65px;
}

.container {
    width: 100%;
    padding-left: 50px;
    padding-right: 2px;
}
@media (min-width: 1200px) {
    .container {
        margin-left: 0;
    }

    li:first-child {
        margin-left: 12px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.input-group[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.maintenance_container {
    position: relative;
    padding: 40px 40px;
    background-color: white;
    border: 1px solid #BBB;
    border-bottom: none;
    min-height: 250px;
}

.logo {
    position: absolute;
    top: -77px;
    left: -63px;
    width: 220px;
    height: 116px;
    background-image: url("../../../../../static/img/ilch_logo.png");
}

.maintenance_head {
    position: absolute;
    top: -33px;
    left: 150px;
    font-size: 30px;
    color: #B71E00;
    font-weight: bold;
}

.custom, label, li {
    cursor: pointer;
}

h2 {
    margin-top: 0;
    margin-bottom: 25px;
}
h3 {
    margin-top: 50px;
}

.save_box {
    position: absolute;
    bottom: -60px;
    background-color: #ECECFB;
    border: 1px solid #BBB;
    padding: 10px;
    left: -1px;
    right: -1px;
    margin-bottom: 4px;
}

.countdownHead {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.countdown {
    position: relative;
    width: 480px;
    height: 80px;
    font-size: 30px;
    margin-left: 50%;
    left: -240px;
    margin-bottom: 15px;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    float: left;
    text-align: center;
    width: 80px;
    height: 80px;
    background: #F5F5F5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.boxName {
    position: relative;
    width: 80px;
    font-size: 12px;
    top: -20px;
    text-align: center;
}
.position {
    position: relative;
    float: left;
    width: 80px;
    margin: 8px 0 0 0;
    text-align: center;
}
.points {
    float: left;
    width: 40px;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 74px;
}
