body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-horizontal .control-group {
	margin-bottom: 10px;
}

.form-horizontal .control-group .control-label {
	text-align: left;
}

#sidebar_content {
	width:300px;
	height: 100%;
}

#sidebar_content {
	color: #777777;
    padding-top: 10px;
}

#sidebar_content .nav > li > a:hover,
#sidebar_content .nav > li > a:focus {
	background-color: white;
	color: black;
}

#sidebar_content .nav > li > a {
	color: black;
}

#sidebar_content .nav > li.heading {
    font-size: 15px;
    font-weight: bold;
	color: black;
    padding: 10px;
}

#sidebar_content .nav > li.active > a {
    background-color: white;
}

#sidebar_content .divider {
	border-bottom: 1px solid silver;
}

.watermark {
	left: -95px;
	opacity: 0.2;
	position: absolute;
	bottom: 0px;
}

#app {
	height:100%;
}

#app .app_content{
	padding: 20px;
}

.topnavbar {
	border-bottom: 1px solid silver;

}

.rightbar .navbar-nav > li {
    border-left: 1px solid silver;
}

.leftbar {
	width: 300px;
}

.app_left {
	margin-top: 51px;
	background-color: #F8F8F8;
	border-right: 1px solid silver;
	position: fixed;
	width: 300px;
	height: 100%;
}

.app_right {
	margin-left: 300px;
	padding: 60px 20px 60px 20px;
}

.app_right_full {
	margin-left: 0px;
}

.toggleSidebar {
	font-size: 20px;
	cursor: pointer;
	position: fixed;
	top: 51px;
	left:0px;
	z-index: 20;
}

.slideLeft {
	left: 288px;
}

.slideRight {
	background-color: #F8F8F8;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}

.content_savebox {
	margin-left: -21px;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	bottom: 0px;
	width:100%;
	position: fixed;
	padding: 5px 15px 5px 15px;
	background-color: #EEEEEE;
}

@media(max-width:991px){
    .app_left {display: none;}
    .app_right {margin-left: 0px;}
}