body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.form-horizontal .control-group .control-label {
    text-align: left;
}
.mobile {
    width: 100%;
}
.mobile > a {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 10px;
}
.icon_width {
    width: 15px;
}