#sortable td:hover {
    cursor:move;
}

#sortable .placeholder {
    outline: 0;
    border: 0;
    background-image: linear-gradient(135deg, #eeeeee 8.33%, #ffffff 8.33%, #ffffff 50%, #eeeeee 50%, #eeeeee 58.33%, #ffffff 58.33%, #ffffff 100%);
    background-size: 12.00px 12.00px;
}

select#profileFieldType option[disabled] {
    color: #ccc;
}
