/* User Profile */
.profil h3 {
    margin-top: 10px;
    color: #428BCA;
    font-weight: bold;
}

.profil .detail {
    line-height: 24px;
}

.profil .bold {
    font-weight: bold;
}

.profil-header {
    position: relative;
}

.profil-header img {
    width: 120px;
    height: 100px;
}

.profil-header .concatLinks-lg {
    position: absolute;
    bottom: 6px;
    right: 0px;
}

.profil-header .concatLinks a {
    margin-left: 10px;
}

.profil-header .concatLinks, .concatLinks-lg a {
    font-size: 22px;
    padding: 5px;
}

.profil-header .concatLinks a:hover, .concatLinks-lg a:hover {
    text-decoration: none;
}


/* Userlist */
.user {
    padding: 0 0 0 80px;
    overflow: hidden;
    margin-bottom: 10px;
    min-height: 90px;
    font-size: 14px;
    line-height: 18px;
}

.user img {
    float: left;
    margin: 2px 0 0 -80px;
    width: 70px;
    height: 70px;
}

.user h3 {
    font-size: 17px;
    font-weight: bold;
    line-height: 21px;
    margin: 0 0 2px 0;
}

.userInfo,
.userLinks {
    -webkit-transition: all 1500ms ease-in-out;
    -o-transition: all 1500ms ease-in-out;
    -moz-transition: all 1500ms ease-in-out;
    transition: all 1500ms ease-in-out;
}

.userInfo {
    line-height: 21px;
}

.user:hover .userInfo,
.user:focus .userInfo {
    display: none;
}

.userLinks {
    display: none;
}

.user:hover .userLinks,
.user:focus .userLinks {
    display: block;
}

.userLinks a {
    font-size:22px;
    padding: 2px;
}

.userLinks a:hover,
.userLinks a:focus {
    text-decoration: none;
}


.fa-skype:hover {
    color: #00b0f6;
}
.fa-facebook:hover {
    color: #3B5998;
}
.fa-google-plus:hover {
    color: #D34836;
}
.fa-twitter:hover {
    color: #00B7FE;
}


.check {
    margin-top: -5px;
}

.panel-profile-image {
    width: 100%;
}
#panel .nav > li > a.active {
    text-decoration: none;
    background-color: #eeeeee;
}

#panel hr {
    margin-top: 0px;
    margin-bottom: 10px;
}


/* Avatar */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}


/* Dialog */
.dialog {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dialog li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.dialog li.left .dialog-body {
    margin-left: 60px;
}

.dialog li.right .dialog-body {
    margin-right: 60px;
}
.dialog li .dialog-body p {
    margin: 0;
    padding-top: 10px;
    color: #777777;
}
.avatar {
    width: 40px;
    height: auto;
}

/* Dialog View */
.shout_box {
    overflow: hidden;
    bottom: 0;
    right: 20%;
    z-index: 9;
}
.shout_box .message_box {
    background: #FFFFFF;
    max-height: 400px;
    overflow: auto;
    border: 1px solid #CCC;
}
.user_info input {
    width: 98%;
    height: 25px;
    border: 1px solid #CCC;
    border-top: none;
    padding: 3px 0px 0px 3px;
    font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.avatar {
    width: 40px;
    height: auto;
}

/* View Message */
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body {
    margin-left: 60px;
}
.chat li.right .chat-body {
    margin-right: 60px;
}
.chat li .chat-body p {
    margin: 0;
    padding-top: 10px;
    color: #777777;
}


/* Other */
.date {
    min-width: 210px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}


/* login with google+ */
#customBtn {
    display: inline-block;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
}
#customBtn:hover {
    cursor: pointer;
}
.flipswitch {
    position: relative;
    height: 34px;
    width: 120px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.flipswitch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 36px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    cursor: pointer;
}

.flipswitch-label:active {
    font-weight: bold;
}

.flipswitch-label-on {
    padding-left: 2px;
}

.flipswitch-label-off {
    padding-left: 3px;
}

.flipswitch-input {
    display: none;
}

.flipswitch-input:checked + .flipswitch-label {
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.flipswitch-input:checked + .flipswitch-label-off ~ .flipswitch-selection {
    left: 60px;
}

.flipswitch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 30px;
    background-color: rgb(153, 153, 153);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}


/* panel gallery */
.item_delete {
    float: right;
    cursor: pointer;
}

.item_edit {
    margin-right: 6px;
    float: right;
    cursor: pointer;
}

ol.sortable, ol.sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ol.sortable {
    margin: 0;
}

.sortable li {
    margin: 5px 0 0 0;
    padding: 0;
}

.sortable li div  {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 6px;
    margin: 0;
    cursor: move;
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.sortable li.mjs-nestedSortable-branch div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.sortable li.mjs-nestedSortable-leaf div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa;
}

.disclose {
    cursor: pointer;
    width: 18px;
    display: none;
}

.sortable > li > div > .upload {
    display: none;
}

.sortable > li > div > .view {
    display: none;
}

.sortable > li > div > .count {
    display: none;
}
.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.placeholder {
    outline: 1px dashed #4183C4;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: -1px;*/
}

#MediaModal {
    z-index: 100000 !important;
    visibility: visible;
    overflow: hidden;
}
#MediaModal .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto !important;
}
#MediaModal .modal-content {
    height: 96%;
    border-radius: 0;
    margin: 1%;
    overflow: hidden;
}
#MediaModal .modal-body {
    height: 100%;
    border-radius: 0;
    padding: 0px 0px 57px !important;
}
#MediaModal .modal-footer {
    display: none;
}


/* profil gallery */
.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 100%;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.text-left{
    font-size: 15px;
}
