nav {
  margin-top: 0px;
}

.event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}
.event-list > li time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .adminInfo > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .adminInfo > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .adminInfo > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
} 
.event-list > li > .adminInfo > ul > li {    
    padding: 0px;
}
.event-list > li > .adminInfo > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .adminInfo > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.edit a,
.del a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}
.edit:hover a,
.del:hover a {
    background-color: rgb(200, 200, 200) !important;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }	
    .event-list > li > .info > .title, 
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .adminInfo {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .adminInfo > ul {
        border-left: 1px solid rgb(230, 230, 230);
        border-bottom: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .adminInfo > ul > li {			
        display: block;
        padding: 0px;
    }
    .event-list > li > .adminInfo > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}

.event-head {
    position: relative;
    width: 100%;
    float: left;
}
.headPic {
    z-index: 1;
    float: left;
    width: 100%;
    border: 1px solid #dddddd;
}
.datePic {
    z-index: 2;
    color: #000;
    background-color: #FFF;
    bottom: -25px;
    margin-left: 10px;
    position: absolute;
    width: 55px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    text-align: center;
}
.dateDayPic {
    font-size: 20px;
    margin-top: 3px;
}
.dateMonthPic {
    font-size: 12px;
    padding-bottom: 3px;
}
.titlePic {
    position: absolute;
    left: 80px;
    bottom: 0px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
    font-size: 20px;
}
.naviPic {
    clear: both;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 5px;
    height: 41px;
}
.naviGast {
    float: left;
    margin-top: 5px;
    margin-left: 75px;
}
.naviButtons {
    float: right;
    right: 10px;
}
.thumbnail {
    width: 68px;
    display: inline;
    margin-bottom: 0px;
}
.eventBoxHead {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 10px;
}
.eventBoxBottom {
    border-top: 1px solid #efefef;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}
.eventBoxContent {
    border: 1px solid #dddddd;
    padding: 10px;
}
.eventCommentSubmit {
    border: 1px solid #dddddd;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.eventTextarea {
    height: 30px;
    width: 100%;
    border-style: none; 
    border-color: Transparent; 
    overflow: hidden;
    resize: none;
    box-shadow: none;
}
.eventTextarea:focus {
    border: 0 none #FFF;
    overflow: hidden;
    outline: none;
    box-shadow: none;
}
.eventSubmit {
    border-top: 1px solid #efefef;
    padding: 5px;
    height: 41px;
}


.commentEventText {
    padding: 5px;
}
.avatar {
    width: 40px;
    height: auto;
    border: 1px solid #dddddd;
}
.userEventInfo {
    margin-left: 48px;
}

.date {
    padding-left: 15px !important;
    padding-right: 15px !important;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}