.btn {
	background-image: none;
	border: 1px solid silver;
	border-color: silver;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
}

.form-horizontal .form-group .control-label {
    text-align: left;
}

label {
	font-weight: normal;
}
legend {
	font-size: 18px;
}

i {
	color: black;
}

img{
    height: auto !important;
    max-width: 100% !important;
}

.clickable {
    cursor: pointer;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../font/sglyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

#breadcrumbs {
        display: inline-block;
        padding-right: 21px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 0 1px #cccccc inset, 0 1px 0px rgba(255, 255, 255, 0.6), 0 1px 0 1px rgba(255, 255, 255, 0.6) inset;
        -moz-box-shadow: 0 0 0 1px #cccccc inset, 0 1px 0px rgba(255, 255, 255, 0.6), 0 1px 0 1px rgba(255, 255, 255, 0.6) inset;
        box-shadow: 0 0 0 1px #cccccc inset, 0 1px 0px rgba(255, 255, 255, 0.6), 0 1px 0 1px rgba(255, 255, 255, 0.6) inset;
        background: #ececec;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ececec));
        background-image: -webkit-linear-gradient(top, #fafafa, #ececec);
        background-image: -moz-linear-gradient(top, #fafafa, #ececec);
        background-image: -o-linear-gradient(top, #fafafa, #ececec);
        background-image: linear-gradient(top, #fafafa, #ececec);
        width: auto;
}

#breadcrumbs .breadcrumb-button .breadcrumb-label {
        -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
        -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
}

#breadcrumbs .breadcrumb-button {
        text-shadow: 0 1px 1px #fafafa, 0 -1px 1px #ececec;
        background: #ececec;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ececec));
        background-image: -webkit-linear-gradient(top, #fafafa, #ececec);
        background-image: -moz-linear-gradient(top, #fafafa, #ececec);
        background-image: -o-linear-gradient(top, #fafafa, #ececec);
        background-image: linear-gradient(top, #fafafa, #ececec);
        display: inline-block;
        margin-right: -20px;
}

#breadcrumbs .breadcrumb-button.blue {
        text-shadow: 0 1px 1px #92cff5, 0 -1px 1px #68a6ce;
        background: #68a6ce;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkyY2ZmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY4YTZjZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #92cff5), color-stop(100%, #68a6ce));
        background-image: -webkit-linear-gradient(top, #92cff5, #68a6ce);
        background-image: -moz-linear-gradient(top, #92cff5, #68a6ce);
        background-image: -o-linear-gradient(top, #92cff5, #68a6ce);
        background-image: linear-gradient(top, #92cff5, #68a6ce);
}

#breadcrumbs .breadcrumb-button.blue .breadcrumb-label {
        color: white;
}

#breadcrumbs .breadcrumb-button.blue:hover {
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4YTZjZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkyY2ZmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #68a6ce), color-stop(100%, #92cff5));
        background: -webkit-linear-gradient(bottom, #68a6ce, #92cff5);
        background: -moz-linear-gradient(bottom, #68a6ce, #92cff5);
        background: -o-linear-gradient(bottom, #68a6ce, #92cff5);
        background: linear-gradient(bottom, #68a6ce, #92cff5);
}

#breadcrumbs .breadcrumb-button.blue:hover .breadcrumb-arrow span {
        background-color: #68a6ce;
        background: -moz-linear-gradient(135deg, #68a6ce, #92cff5);
        background: -ms-linear-gradient(135deg, #92cff5, #68a6ce);
        background: -o-linear-gradient(135deg, #92cff5, #68a6ce);
        background: -webkit-gradient(linear, left top, right bottom, from(#92cff5), to(#68a6ce));
}

#breadcrumbs .breadcrumb-button.blue .breadcrumb-arrow span {
        background-color: #92cff5;
        background: -moz-linear-gradient(135deg, #68a6ce, #92cff5);
        background: -ms-linear-gradient(135deg, #68a6ce, #92cff5);
        background: -o-linear-gradient(135deg, #68a6ce, #92cff5);
        background: -webkit-gradient(linear, right bottom, left top, from(#68a6ce), to(#92cff5));
}

#breadcrumbs .breadcrumb-button.blue .breadcrumb-label {
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom: 1px solid #3e89b9;
        border-left: 1px solid #60a1ca;
        border-top: 1px solid #73acd0; 
}

#breadcrumbs .breadcrumb-button.blue .breadcrumb-label:hover {
        color: white;
}

#breadcrumbs .breadcrumb-button.blue .breadcrumb-label:hover .breadcrumb-label {
        color: white;
}

#breadcrumbs .breadcrumb-button.blue .breadcrumb-arrow span {
        box-shadow: 1px -1px 0px #7599AF, 1px -1px 1px #45A8E7;
}

#breadcrumbs .breadcrumb-button .breadcrumb-label {
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
}

#breadcrumbs .breadcrumb-button .breadcrumb-arrow span {
        box-shadow: 1px -1px 0px #ccc, 1px -1px 1px #ccc;
}

#breadcrumbs .breadcrumb-button .breadcrumb-label {
        color: #888888;
}

#breadcrumbs .breadcrumb-button .breadcrumb-label a {
    text-decoration: none;
    color: #888888;
}

#breadcrumbs .breadcrumb-button .breadcrumb-arrow span {
        background-color: #fafafa;
        background: -moz-linear-gradient(135deg, #ececec, #fafafa);
        background: -ms-linear-gradient(135deg, #ececec, #fafafa);
        background: -o-linear-gradient(135deg, #ececec, #fafafa);
        background: -webkit-gradient(linear, right bottom, left top, from(#ececec), to(#fafafa));
}

#breadcrumbs .breadcrumb-button:first-child {
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        -ms-border-radius: 3px 0 0 3px;
        -o-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
}

#breadcrumbs .breadcrumb-button:first-child .breadcrumb-label {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
}

#breadcrumbs .breadcrumb-button:last-child {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        -ms-border-radius: 0 3px 3px 0;
        -o-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
}

#breadcrumbs .breadcrumb-button:first-child .breadcrumb-label {
        padding-left: 10px;
}

#breadcrumbs .breadcrumb-button:last-child .breadcrumb-label {
        padding-right: 15px;
}

#breadcrumbs .breadcrumb-button:last-child .breadcrumb-arrow {
        display: none;
}

#breadcrumbs .breadcrumb-button .breadcrumb-label {
        padding: 2px 8px 2px 25px;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: inline-block;
}

#breadcrumbs .breadcrumb-button .breadcrumb-arrow {
        width: 20px;
        height: 26px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        margin-left: -5px;
}

#breadcrumbs .breadcrumb-button .breadcrumb-arrow span {
        border-radius: 0px;
        width: 20px;
        height: 20px;
        display: inline-block;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-left: -13px;
        margin-top: 3px;
}

.mce-ilchmedia{
    width: 98% !important;
    height: 90% !important;
    top: 0px !important;
    left: 0px !important;
    margin: 1% !important;
}

.mce-ilchmedia div.mce-container-body{
    width: 100% !important;
    height: 100% !important;
}
