/* Gallery and Download */
#gallery, #downloads {
    float: none;
    width: 100%;
    display:inline-block;
}
#gallery, #downloads img{
    width: 100%;
    height: auto;
}



.captcha {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

span.social-logins > a.btn.btn-link.provider-twitter {
    color: #1DA1F2;
}

span.social-logins > a.btn.btn-link.provider-twitter:hover {
    color: #0c85d0;
}

img {
    max-width: 100%;
    height: auto;
}
