.ilch_full_width {
    width: 100%;
}

.ilch_pull_left {
    float: left;
}

.ilch_pull_right {
    float: right;
}

.ilch_form_group {
    padding-bottom: 10px;
}

.ilch_form_group label {
    float: left;
}

.ilch_form_group .controls {
    margin-left: 100px;
}

.ilch_form_nolabel .controls {
    margin-left: 0px !important;
}