.group-image{
        width: 100px;
        margin: 0px;
        padding: 0px;
    }
#war_index{
    overflow: hidden;
}
#war_index .col-lg-12{
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#war_index h3{
    margin-top: 0px;
}
#war_index .thumbnail{
    display: inline-block;
    float: left;
    margin: 5px 10px 5px 0px;
}
.center-text{
    text-align: center;
}
.plays-vs{
    margin: 60px 0;
}
.war_win{
    color: #0C0;
}
.war_lost{
    color: #F00;
}
.war_drawn{
    color: #006FFF;
}
.table {
    border: 1px solid #CCC;
}