body {
	padding-top: 65px;
	padding-bottom: 40px;
	background-color: #EEE;
}

.container {
	padding: 60px;
	background-color: white;
}

.login_container {
	border: 1px solid #BBB;
	width: 300px;
	height: 200px;
	border-radius: 0px 0px 0px 0px;
}

.logo {
	margin-top: -180px;
	margin-left: -141px;
	position: relative;
	width: 220px;
}