html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-horizontal .control-group .control-label {
	text-align: left;
}

#sidebar {
	width:300px;
	position: fixed;
	border-right: 1px solid silver;
}

#sidebar_head {
	background-color: #ECECFB;
	border-bottom: 1px solid silver;
}

#sidebar_content {
	width:300px;
	position: fixed;
	height: 100%;
	background-color: #ECECFB;
	border-right: 1px solid silver;
}

#app {
	height:100%;
	margin-left: 300px;
}

#app .app_content{
	padding:40px;
}

.navbar-inner {
	border-radius: 0px;
	border:none;
	height: 40px;
	box-shadow: 0 1px 4px #666;
}

.navbar-app {
	background-color: #CCCCCC;
	background-image: none;
}

.navbar .brand,
.navbar .nav > li > a {
	text-shadow: none;
}

.nav-tabs > .active > a {
	color: black;
}

.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a {
	border-radius: 0px;
	border:none;
}

.nav-tabs.nav-stacked > li > a {
	border-right: none;
}

.navbar {
	margin-bottom: 0px;
}