html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-horizontal .control-group .control-label {
	text-align: left;
}

#sidebar_content {
	padding-top: 10px;
	width:300px;
	height: 100%;
	background-color: #ECECFB;
	border-right: 1px solid silver;
}

#app {
	height:100%;
}

#app .app_content{
	padding: 20px;
}

.navbar-inner {
	border-radius: 0px;
	border:none;
	height: 40px;
	box-shadow: none;
}

.navbar-app {
	background-color: #EEEEEE;
	background-image: none;
}

.navbar .brand,
.navbar .nav > li > a {
	text-shadow: none;
}

.nav-tabs > .active > a {
	color: black;
}

.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a {
	border-radius: 0px;
	border:none;
}

.nav-tabs.nav-stacked > li > a {
	border-right: none;
}

.navbar {
	margin-bottom: 0px;
}

.topmenu {
	position: fixed;
	width:100%;
	box-shadow: 0 1px 2px #666666;
}

.leftmenu {
	border-right: 1px solid silver;
	float: left;
	width: 300px;
}

.rightmenu {
	width: 100%;
	margin-right: 300px;
}

.app_left {
	margin-top: 40px;
	background-color: #ECECFB;
	float: left;
	width: 300px;
	height: 100%;
}

.app_right {
	margin-left: 300px;
	padding: 20px;
	padding-top: 50px;
	width: 100%;
}