body {
	padding-top: 65px;
	padding-bottom: 40px;
	background-color: #EEE;
}

.form-horizontal .control-group .control-label {
	text-align: left;
}

.container {
	padding: 60px;
	background-color: white;
}

.install_container {
	border: 1px solid #BBB;
	width: 900px;
	min-height: 500px;
	border-bottom: none;
}

.save_box {
	background-color: #ECECFB;
	padding: 20px;
	position: relative;
	border: 1px solid #BBB;
	width: 980px;
	border-radius: 0px 0px 0px 0px;
}

.logo {
	margin-top: -180px;
	margin-left: -141px;
	position: relative;
	width: 220px;
}

.logo_text {
	margin-top: -180px;
	margin-left: -141px;
	position: relative;
	width: 220px;
}