.award {
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
}
.awards_info {
    padding: 5px;
}

.rank {
    width: 65px;
    float: left;
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
}
.rank_info {
    padding: 5px;
}
.rank_image {
    clear: both;
}

.img_gold {
    color: rgb(212,175,55);
}
.img_silver {
    color: rgb(192,192,192);
}
.img_bronze {
    color: rgb(166,125,61);
}