/*----------------------------------------------------------------------------------------------------------------------
# Generelle Einstellungen
----------------------------------------------------------------------------------------------------------------------*/

/* UniversalSelektor: Innen und Außenabstand auf 0 setzen */
*{
    margin: 0;
    padding: 0}

/* Standardschrift und Farbe festlegen */
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

/* Alle Überschriften Standardmäßig gleiche Schriftart */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jost", sans-serif;
}

/* Alle Links in bestimmter Farbe und ohne Unterstrich */
a {
    color: #c10f20;
    text-decoration: none;
}

/* Beim überfahren von Links ändert sich die Farbe leicht. */
a:hover {
    color: rgba(191, 15, 33, 0.72);
    text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------------------
# Header
----------------------------------------------------------------------------------------------------------------------*/
#header{
    z-index: 1000;
    padding: 15px 0;
    background: rgb(60 63 65);
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #bf0f21;
}

#header .logo img {
    max-height: 100px;
}

/*----------------------------------------------------------------------------------------------------------------------
# Navigation Menu
----------------------------------------------------------------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #47b2e4;
}


.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
}


.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #47b2e4;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


