.teams .team-name {
    margin-top: 25px;
}
.teams .team-name:first-child {
    margin-top: 0;
}
.teams .team-name h3 {
    margin-top: 0;
}
.teams .contact-links {
    text-align: right;
}
.teams .contact-links a {
    font-size: 22px;
}
.teams .contact-links a:hover {
    text-decoration: none;
}

/* backend image upload */
.btn-file {
   position: relative;
   overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}