body {
  margin-top: 30px;
}

img {
    height: auto !important;
    max-width: 100% !important;
}

a {
    color: #428BCA;
    text-decoration: none;
}

.ilch_btn, .ilch_txt, .ilch_cbo {
    border: 1px grey black;
    padding: 5px;
}

label {
    font-weight: normal;
}