body {
  margin-top: 30px;
}

img {
    height: auto !important;
    max-width: 100% !important;
}

a {
    color: #428BCA;
    text-decoration: none;
}

input, select {
    border: 1px grey black;
    padding: 5px;
    width: 130px;
}

label {
    font-weight: normal;
}