body {
  margin: 30px 0px 0px 0px;
  padding: 0;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

img {
    height: auto !important;
    max-width: 100% !important;
}

a {
    color: #428BCA;
    text-decoration: none;
}

.ilch_btn, .ilch_txt, .ilch_cbo {
    border: 1px grey black;
    padding: 5px;
}

label {
    font-weight: normal;
}
