/*Comment List styles*/
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
	color:#cccccc;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
.comment-list p {
    margin: 0px;
}
.comment-list .submit {
    margin-top: 10px;
}
.comment-list .thumbnail {
    padding: 4px;
    width: 88px;
    margin: 0px auto;
}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}

/**
 * for comments
 * look like a ticket
 */
.comment-list .panel .panel-bodylist {
  position: relative;
  padding: 15px;
  background: #f2f2f2;
  border: 2px solid white;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.comment-list .panel .panel-bodylist:hover {
  background: white;
  border-color: #e6e6e6;
}
.comment-list .panel .panel-bodylist:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 25px 25px 0;
  border-style: solid;
  border-color: white white #cccccc #cccccc;
  background: #cccccc;
  display: block;
  width: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.comment-list .panel .panel-bodylist:hover:before {
  border-width: 0;
}
.comment-list .panel .panel-bodylist span {
  float: right;
  font-size: 13px;
}

/**
 * move comments for reply
 * max 5 moves 
 * more would stretch the design.
 */
.comment-list.reply1 {
  left: 55px;
  position: relative;
  overflow: visible;
}
.comment-list.reply1:after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  top: -30px;
  background: #e6e6e6;
  left: -40px;
}
.comment-list.reply2 {
  left: 110px;
  position: relative;
  overflow: visible;
}
.comment-list.reply2:after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  top: -30px;
  background: #e6e6e6;
  left: -40px;
}
.comment-list.reply3 {
  left: 165px;
  position: relative;
  overflow: visible;
}
.comment-list.reply3:after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  top: -30px;
  background: #e6e6e6;
  left: -40px;
}
.comment-list.reply4 {
  left: 230px;
  position: relative;
  overflow: visible;
}
.comment-list.reply4:after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  top: -30px;
  background: #e6e6e6;
  left: -40px;
}
.comment-list.reply5 {
  left: 285px;
  position: relative;
  overflow: visible;
}
.comment-list.reply5:after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  top: -30px;
  background: #e6e6e6;
  left: -40px;
}

/**
 * for CommentAdminscenter
 */
.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
